openapi: "3.0.0"
info:
  version: 1.0.0
  title: Stegappasaurus API
servers:
  - url: https://us-central1-stegappasaurus.cloudfunctions.net/api
paths:
  /encode:
    post:
      summary: Encodes an image using steganography.
      operationId: encode
      tags:
        - steganography
      requestBody:
        description: Encode an image with a message.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Encode'
      responses:
        200:
          description: Successfully encoded image.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncodingSuccess"
        400:
          description: Invalid input data.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncodingError"
        500:
          description: Error occurred while trying to encode image.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncodingError"
  /decode:
    post:
      summary: Decodes an image using steganography.
      operationId: decode
      tags:
        - steganography
      requestBody:
        description: Decode an image with a message.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Decode'
      responses:
        200:
          description: Successfully decoded image.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DecodingSuccess"
        400:
          description: Invalid input data.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DecodingError"
        500:
          description: Error occurred while trying to decode image.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DecodingError"
components:
  schemas:
    Encode:
      required:
        - message
        - imageData
      properties:
        algorithm:
          type: string
          description: Algorithm that will be used to encode image.
          default: LSB
          enum:
            - LSB
        message:
          type: string
          description: The message you wish to encode.
        imageData:
          type: object
          required: 
            - width
            - height
            - base64Image
          properties:
            width:
              type: integer
              format: int64
              description: Width of the image in number of pixels.
            height:
              type: integer
              format: int64
              description: Height of the image in number of pixels.
            base64Image:
              type: string
              description: The image encoded in base64.
      example:
        algorithm: LSB
        message: Secret Message.
        imageData:
          width: 100
          height: 100
          base64Image: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAAPzAAAD8wF1XGupAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAJZQTFRF////SUmSQGCfQFWVPVyZOVuZO1eaPFmZO1qYO1mZO1mYO1mYOlmYPFmYO1mYO1mYO1qYO1mYPVuZP1yaQV6bQ2CcR2OeTWmiVG6lVW+mVnCmV3GnWnOoXnerZHytZn2va4Kxcoe1eY65gJS8ipzCi53CkKHFtsHZuMPau8bbwsvf09ro1Nvo1dvp4ubw9vf6/Pz9////XyoQ3AAAABF0Uk5TAAcIGBktSYSXmMHI2uPy8/XVqDFbAAABA0lEQVQ4y4WT2WKDIBBFcYkswbVp9n2pra1N/P+fC5gII5B4n8B7wJlhBiElL6KMpylnNPKQrZAkuVJCQsP2cZb3lGEf+sE4tzQOtD+Kc4fikTrv9AXxvMMH90+/vn/r+tj95REH1v78v5E6d3vc5gfi/2n95qJykdkS7X/chHut/47qCxH1A/VZyOMHGGfioQhs1xJY9zKJEFXrYrqVwGYyKTRAEVPrXdPppAGGuAPYa4Cj1AGsNJACYFlW0q3K8hMC/H0WHATpBBhI0wnQ4ULBUtuAKDV8LBsg/ee2gPa5QcNYADZazgSeLaeb1gDiwGz7YiZU2G0/PDjDozc8vK/H/w603kSHess3kQAAAABJRU5ErkJggg==
    EncodingSuccess:
      required:
        - encoded
      properties:
        encoded:
          type: string
          description: The encoded image in base64.
      example:
        encoded: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAIAAAD8GO2jAAAABmJLR0QA/wD/AP+gvaeTAAADEUlEQVRIicVWzU/TYBx++vbDtRkrsIzJxzIhGpcM5EJ2E2N2Ei4e/Q+MiSe5ePCiiVfiQQNejQfjzRgwkSzGGQ+AJkI2bZRkLIOFMdjWTdvRrp2HkVmBFgJMn1N/X8/Tvn3f9/ej0AAFqo46QAF1/AEhjOgPdfYNC56zLC9yvAhAU2VdlZXyRmFtSc5JplmDPSi7AMeLgcFxXzBCsy6HekOv5tMLmcSMpspHFSA0GwiP9YSihOYcqK0wDS0rxTLJWdPQDxHgXJ7Q6K02b/8Rqa2obKek+JRWLVudtNUQ2nuHohOC2H0MdgBnhA5fcKSUk/Rq5QABzuUZik5wQsfx2HfpWN7be2krvWjUdhqe3SUiNDsYveO8Mm6BuzZ6MTTg6/V7CEUBeP76S3wxtT+zsp1KxCYb/4NpuALhMWf2bl/b5N3xQLdodXZ4+AOT27z9gfBYevkVAAKA48WeUNSBHcDNG5E97AAo202OnlC0cWgIgMDguPOOZGhyNTLQNNWq/nVlM7mSK8iqXQmhucDgOACGEMYXjDi/fpfXTdOkad57NDe/nHEuAeALRlKfXxLRH3I+qwBYhljNja2KXaYVNOsS/SGms2/YIYkQSnCxAs9anQxDcywNoGaYplm3KQWAzr5haig64em6YJcRPu9/+uC6XfT+k9jcxxUHgfLmD8Lye/fG0ZEv/HJOYHmRcCcQ2CoqzgkcLzLOGaWK+ib+3S1wl0fONZ0fPq3+VDQAW8VDvgAAo6ky39ZlF17PlR9Ovwv2tFsFpl/Mp7OlQ6kBaKpMdJtGcSrQVZko5Y3WCSjlDVJYW2qdQGFticg5ydCrrWA39Kqck4hp1vLphVYI5NMLplkjADKJGdPQTpfdNLRMYgaN61pT5awUO12BrBRrDDK712QmOVvZPqD5HQ+V7VQmOdt43hUwDV2KT2lK8eTsmlKU4lPNAemvpie094av3N4/WBBCtVvab6ms2t3SmlJMvn+slNabnn87eAEwajv51QUKlNsbpMjeqB1MQ1v/9nZl/llN39ul/8fwa8XJx/ffmI5G4TIf7rkAAAAASUVORK5CYII=",
    EncodingError:
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: Machine readable, reason for the error.
          enum:
            - MessageTooLong
            - InvalidImage
            - ServerError
        message:
          description: Human readable, reason for the error.
          type: string
      example:
        code: MessageTooLong
        message: Message xxx too large to encode within image.
    Decode:
      required:
        - imageData
      properties:
        imageData:
          type: object
          required: 
            - width
            - height
            - base64Image
          properties:
            width:
              type: integer
              format: int64
              description: Width of the image in number of pixels.
            height:
              type: integer
              format: int64
              description: Height of the image in number of pixels.
            base64Image:
              type: string
              description: The image encoded in base64.
      example:
        imageData:
          width: 100
          height: 100
          base64Image: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAAPzAAAD8wF1XGupAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAJZQTFRF////SUmSQGCfQFWVPVyZOVuZO1eaPFmZO1qYO1mZO1mYO1mYOlmYPFmYO1mYO1mYO1qYO1mYPVuZP1yaQV6bQ2CcR2OeTWmiVG6lVW+mVnCmV3GnWnOoXnerZHytZn2va4Kxcoe1eY65gJS8ipzCi53CkKHFtsHZuMPau8bbwsvf09ro1Nvo1dvp4ubw9vf6/Pz9////XyoQ3AAAABF0Uk5TAAcIGBktSYSXmMHI2uPy8/XVqDFbAAABA0lEQVQ4y4WT2WKDIBBFcYkswbVp9n2pra1N/P+fC5gII5B4n8B7wJlhBiElL6KMpylnNPKQrZAkuVJCQsP2cZb3lGEf+sE4tzQOtD+Kc4fikTrv9AXxvMMH90+/vn/r+tj95REH1v78v5E6d3vc5gfi/2n95qJykdkS7X/chHut/47qCxH1A/VZyOMHGGfioQhs1xJY9zKJEFXrYrqVwGYyKTRAEVPrXdPppAGGuAPYa4Cj1AGsNJACYFlW0q3K8hMC/H0WHATpBBhI0wnQ4ULBUtuAKDV8LBsg/ee2gPa5QcNYADZazgSeLaeb1gDiwGz7YiZU2G0/PDjDozc8vK/H/w603kSHess3kQAAAABJRU5ErkJggg==
    DecodingSuccess:
      required:
        - decoded
      properties:
        decoded:
          type: string
          description: The decoded message.
      example:
        decoded: Secret Message.
    DecodingError:
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: Machine readable, reason for the error.
          enum:
            - InvalidImage
            - ImageNotEncoded
            - ServerError
        message:
          description: Human readable, reason for the error.
          type: string
      example:
        code: InvalidImage
        message: Invalid image, could not decode.