# Library
node_modules/**/*
.expo/*

# IDEs
.vscode/*
.history/*
.idea/*
jsconfig.json

# Other
coverage/
*.log

## Compiled JavaScript files
**/*.js
**/*.js.map

# Typescript v1 declaration files
typings/
