# Library
src/services/node_modules/**/*
node_modules/**/*
.expo/*

# IDEs
.vscode/*
.history/*
.idea/*
jsconfig.json

# Other
coverage/
*.log
src/services/lib/

## Compiled JavaScript files
**/*.js
**/*.js.map

# Typescript v1 declaration files
typings/


# Configs
.env
serviceAccount.json
